apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{{ deployment_name }}}
spec:
  replicas: 1
  selector:
    matchLabels:
      app: {{{ dummysite_name }}}
  template:
    metadata:
      labels:
        app: {{{ dummysite_name }}}
    spec:
      containers:
        - name: {{{ container_name }}}
          image: niklasku/dev_kub_dummysite_app:5_1
          env:
          - name: WEBSITE_URL
            value: {{{ website_url }}}
          resources:
            limits:
              cpu: "150m"
              memory: "100Mi"
