apiVersion: v1
kind: Service
metadata:
  name: {{{ service_name }}}
spec:
  type: NodePort
  selector:
    app: {{{ dummysite_name }}}
  ports:
    - name: {{{ dummysite_name }}}
      port: 3003
      protocol: TCP
      targetPort: 3003